.login-background {
    // background: rgb(34, 193, 195);
    // background: linear-gradient(135deg,
    //         rgba(34, 193, 195, 1) 0%,
    //         rgba(253, 187, 45, 1) 100%);
    background-color: #f1eff2;

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 53px);

        .login-content {
            // padding        : 15px;
            // background-color: white;
            width: 50%;
            border-radius: 10px;

            .Logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 8px;
            }

            .text-login {
                font-weight: 600;
                text-align: center;
                font-size: 24px;
                padding-top: 10px;
            }

            input {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .input-text {
                height: 40px;
                border-radius: 15px;
                font-size: 15px;
            }

            .login-input {
                margin: 7px 0;


                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 14px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                background: #85d446;
                width: 100%;
                height: 54px;
                margin: 10px 0;
                padding: 4px 10px;
                outline: none;
                border-radius: 30px;
                border: 1px solid #ccc;
                color: white;
                font-weight: 600;
                font-size: 16px;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 20px;

                .google {
                    font-size: 30px;
                    background-color: #c32424;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background-color: #307aff;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
            }
        }
    }

    .login-bg_img {
        background-image: url('../../assets/background/banner_12.png');
        // height: 100%;
        width: 100%;
        position: relative;
        // top                   : 50;
        // right                 : 0;
        background-size: cover;
        background-position: 50%;

        .slogan_img {
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            font-size: 24px;
            color: red;
            font-style: italic;
        }

    }
}