.doctor-extraInfor_container {
    padding-left: 15px;
    border-left: 1px solid #eee;

    .doctor-extraInfor_header {
        margin-bottom: 10px;

        .text-address {
            text-transform: uppercase;
            color: #666;
            font-weight: bold;
            font-size: 14px;
        }

        .name-clinic {
            font-weight: 600;
            padding: 5px 0;
            font-size: 15px;
        }

        .address-clinic {
            font-size: 13px;
            font-weight: 600;
            color: #459549;
        }
    }

    .doctor-extraInfor_footer {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding-top: 10px;
        padding-bottom: 10px;

        .short-infor {

            h3 {
                display: inline;
                text-transform: uppercase;
                font-size: 14px;
                color: #666;
                font-weight: bold;
                width: fit-content;
            }

            .show-detailInfor_price {
                cursor: pointer;
                color: #22e22b;
                padding-left: 5px;
            }
        }


        .hide-detailInfor_price {
            margin-top: 10px;

            span {
                cursor: pointer;
                color: #cdd529;
            }
        }

        .title-price {
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .detail-infor {
            border: 1px solid #ddd;
            padding: 5px;
            background: #f8f8f8;

            .infor-price {
                display: flex;
                justify-content: space-between;
            }

            .note {
                font-size: 12px;
                font-weight: 200;
            }
        }

        .infor-payment {
            border: 1px solid #ddd;
            border-top: none;
            padding: 5px;
            background-color: #eeeeee;
        }
    }
}