.list-doctor_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    min-height: 46vh;

    .list-doctor-header {
        display: flex;
        align-items: center;
        color: #25eb25;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-top: 20px;

        a {
            text-decoration: none;

            i {
                color: #25e331;
            }

            span {
                margin: 0 5px;
            }
        }



    }

    .list-doctor_search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 18px !important;
            font-weight: 550 !important;
            color: #333 !important;
            font-family: 'TikTokFont-Bold';
        }

        .filter_search {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 25%;
            margin: 20px 0;

            button {
                position: absolute;
                right: 0px;
                color: #fff;
                outline: none;
                background: #16ca13;
                border: none;
                border-bottom-right-radius: 4px;
                padding: 5px;
            }
        }
    }



    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: block;
            overflow: hidden;
            padding: 15px;
            position: relative;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;


                img {
                    float: left;
                    margin-right: 10px;
                    height: 105px;
                    object-fit: contain;
                }

                .description {
                    h3 {
                        display: block;
                        line-height: 1.3em;
                        font-size: 16px;
                        color: rgb(58, 58, 58);
                    }

                    div {
                        color: rgb(58, 58, 58);
                        font-weight: lighter;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}