.user-redux-container {

    .manage-user-title {
        text-align: center;
        text-transform: uppercase;
        margin: 30px 0;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.25rem;
        font-family: "Public Sans", sans-serif;
    }

    .user-reudx-body {

        .container {
            background-color: rgb(255, 255, 255);
            color: rgb(33, 43, 54);
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            background-image: none;
            overflow: hidden;
            position: relative;
            box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
            border-radius: 16px;
            z-index: 0;
            padding: 24px;

            input {}


            .preview-img-container {
                .lable-upload {
                    padding: 5px;
                    border-radius: 3px;
                    background-color: #ddd;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .preview-image {
                    height: 50px;
                    width: 100%;
                    border: 1px solid #ddd;
                    background: center center no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
    }
}