.detail-clinic_container {
    .detail-clinic_header {
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        .detail-clinic_content {
            display: flex;
            justify-content: center;
            // margin-right   : auto;
            // margin-left    : auto;


            .detail-clinic_description {
                width: 80%;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;

                padding-top: 20px;
                background-color: rgba(255, 255, 255, 0.8);

                .detail-clinic_image {
                    height: 112px;
                    width: 112px;
                    margin-right: 30px;
                    margin-left: 30px;
                    background-color: rgb(255, 255, 255);

                    img {
                        height: 100%;
                        width: 100%;
                        inset: 0px;
                        object-fit: contain;
                        color: transparent;
                    }
                }

                .detail-clinic_address {
                    flex-grow: 1;

                    h1 {
                        font-size: 26px;
                        color: rgb(40, 49, 63);
                        font-weight: 700;
                    }

                    div {
                        font-size: 18px;
                        color: rgb(40, 49, 63);
                        font-weight: 400;
                    }
                }
            }
        }


    }

    .detail-clinic_body {
        display: none;
        margin: 0 100px;
        margin-top: 30px;

        .filter-doctor {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            select {
                appearance: none;
                -webkit-appearance: none;
                /* Safari and Chrome */
                -moz-appearance: none;
                /* Firefox */
                display: block;
                padding: 8px 80px 8px 8px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                outline: none;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                background-color: #fff;
                background-image: url('../../../assets/images/icon-select/icon_select.svg');
                background-repeat: no-repeat;
                background-position: right 0.75rem center;
                background-size: 16px 12px;
            }

            .filter-doctor_search {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 25%;

                button {
                    position: absolute;
                    right: 0px;
                    color: #fff;
                    outline: none;
                    background: #49bce2;
                    border: none;
                    border-bottom-right-radius: 4px;
                    padding: 5px;
                }
            }
        }

        .list-doctor {
            padding-bottom: 10px;

            .doctor-item {
                display: flex;
                width: 100%;
                min-height: 300px;
                // margin    : 15px 0;
                margin-top: 15px;
                padding: 10px;

                background-color: #fff;
                box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
                border-radius: 8px;

                .doctor-item_left {
                    width: 50%;
                    border-right: 1px solid #ddd;
                    padding-right: 10px;
                }

                .doctor-item_right {
                    width: 50%;
                    padding: 10px;

                    .doctor-extraInfor_container {
                        border: 1px solid #ddd;
                        margin-top: 10px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .clinic-description {
        margin: 0 100px;
        margin-top: 30px;

        .text-desc {
            font-weight: bold;
            font-size: 24px;
            color: rgb(51, 122, 183);
            margin-bottom: 20px;
        }

        div,
        ul,
        li {
            font-size: 18px;
        }
    }

}