.detail-clinic_container {

    .about-header {
        display: flex;
        align-items: center;
        color: #19eb38;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-top: 18px;
        margin-right: 100px;
        margin-left: 100px;

        a {
            text-decoration: none;

            i {
                color: #2adf39;
            }

            span {
                margin: 0 5px;
            }
        }



    }

    .detail-clinic_header {
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        .detail-clinic_content {
            display: flex;
            justify-content: center;
            // margin-right   : auto;
            // margin-left    : auto;


            .detail-clinic_description {
                width: 80%;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;

                padding-top: 20px;
                background-color: rgba(255, 255, 255, 0.8);

                .detail-clinic_image {
                    height: 112px;
                    width: 112px;
                    margin-right: 30px;
                    margin-left: 30px;
                    background-color: rgb(255, 255, 255);

                    img {
                        height: 100%;
                        width: 100%;
                        inset: 0px;
                        object-fit: contain;
                        color: transparent;
                    }
                }

                .detail-clinic_address {
                    flex-grow: 1;

                    h1 {
                        font-size: 26px;
                        color: rgb(40, 49, 63);
                        font-weight: 700;
                    }

                    div {
                        font-size: 18px;
                        color: rgb(40, 49, 63);
                        font-weight: 400;
                    }
                }
            }
        }


    }

    .detail-clinic_body {
        display: block;
        margin: 0 100px;
        margin-top: 30px;

        .filter-doctor {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            select {
                appearance: none;
                -webkit-appearance: none;
                /* Safari and Chrome */
                -moz-appearance: none;
                /* Firefox */
                display: block;
                padding: 8px 80px 8px 8px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                outline: none;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                background-color: #fff;
                background-image: url('../../../assets/images/icon-select/icon_select.svg');
                background-repeat: no-repeat;
                background-position: right 0.75rem center;
                background-size: 16px 12px;
            }

            h3 {
                font-weight: 600;
                color: rgb(51, 122, 183);
                ;
            }

            .filter-doctor_search {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 25%;

                input {
                    font-size: 16px;
                    height: 40px;
                    border-radius: 15px;
                }

                button {
                    position: absolute;
                    right: 0px;
                    color: #fff;
                    outline: none;
                    background: #2eea2e;
                    border: none;
                    border-bottom-right-radius: 15px;
                    padding: 5px;
                    border-top-right-radius: 15px;
                    height: 40px;
                }
            }
        }

        .list-doctor {
            padding-bottom: 10px;

            .doctor-item {
                display: flex;
                width: 100%;
                min-height: 300px;
                // margin    : 15px 0;
                margin-top: 15px;
                padding: 10px;

                background-color: #fff;
                box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
                border-radius: 8px;

                .doctor-item_left {
                    width: 50%;
                    border-right: 1px solid #ddd;
                    padding-right: 10px;
                }

                .doctor-item_right {
                    width: 50%;
                    padding: 10px;

                    .doctor-extraInfor_container {
                        border: 1px solid #ddd;
                        margin-top: 10px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .view-more {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .btn-view-more {
            width: 120px;
            height: 50px;
            color: #fff;
            background-color: #19eb38;
            text-align: center;
            outline: none;
            border-radius: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            text-decoration: none;

            &:hover {
                background-color: #cfe71c;
                color: #fff;
            }
        }


    }




    .clinic-description {
        margin: 0 100px;
        margin-top: 30px;

        p {
            text-align: justify;
        }

        .container-img-about {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px 20px;

            .img-about {
                width: 100%;
                height: 300px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .img-about-1 {
                background-image: url('../../../assets/images/detail_specialty/gioi-thieu-co-so-32-dai-tu-1.jpg');
            }

            .img-about-2 {
                background-image: url('../../../assets/images/detail_specialty/gioi-thieu-co-so-32-dai-tu-2.jpg');
            }

            .img-about-3 {
                background-image: url('../../../assets/images/detail_specialty/gioi-thieu-co-so-32-dai-tu-3.jpg');
            }

            p {
                margin: 10px 0;
            }
        }

        .attention-body {
            .attention-text {
                border: 1px solid green;
                padding: 16px 27px;
                font-size: 16px;
                font-style: italic;
                border-radius: 21px;
            }

            .attention-img {
                width: 100%;
                height: 300px;
                background-image: url('../../../assets/images/detail_specialty/tri_an_2011.PNG');
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .text-desc {
            font-weight: bold;
            font-size: 24px;
            color: rgb(51, 122, 183);
            margin-bottom: 20px;
        }

        div,
        ul,
        li {
            font-size: 18px;
        }
    }



}