.booking-history-container {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    margin-bottom: 30px;
    min-height: calc(100vh - 324px - 125px);

    .booking-history-header {
        display: flex;
        align-items: center;
        color: #29ef4d;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-top: 20px;
        margin-bottom: 30px;


        a {
            text-decoration: none;

            i {
                color: #4ae741;
                font-size: 20px;
            }

            span {
                margin: 0 5px;
            }
        }
    }

    .booking-search {
        .filter_search {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            width: 100%;
            margin: 20px 0;

            input {
                width: 30%;
                height: 40px;
                border-radius: 15px;
                font-size: 15px;
            }

            button {
                position: absolute;
                right: 0px;
                color: #fff;
                outline: none;
                background: #1fdf28;
                border: none;
                // border-bottom-right-radius: 4px;
                padding: 5px;
                height: 40px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            i {
                position: absolute;
                right: 5px;
                color: #33f022;
                margin-left: 20px;
            }


        }
    }

    .booking-history-content {
        h2 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .status-column {
            padding: 3px 8px;
            border-radius: 10px;
            color: #fff;
        }

        .new-status {
            background-color: #007bff;
            /* Màu xanh dương cho trạng thái mới */
        }

        .confirmed-status {
            background-color: #28a745;
            /* Màu xanh lá cây cho trạng thái đã xác nhận */
        }

        .done-status {
            background-color: #6c757d;
            /* Màu xám cho trạng thái đã hoàn thành */
        }

        .cancle-status {
            background-color: #dc3545;
            /* Màu đỏ cho trạng thái đã hủy */
        }

        .default-status {}
    }
}