.chart-item {
    padding: 20px !important;
    width  : 100%;

    .chart-header {
        margin-bottom: 20px;

        span {
            font-size  : 18px !important;
            margin     : 0px;
            font-weight: 600;
            line-height: 1.55556;
            font-size  : 1.0625rem;
            font-family: "TikTokFont-Bold", sans-serif;
            display    : block;
        }
    }
}