.verify-email_container {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background: #f5f5f5;
    height: 100vh;
    width: 100vw;
    position: fixed;

    .verify-email {
        padding-top: 30px;

        .verify-email_success {
            color: #3cf148;
        }

        .verify-email_error {
            color: red;
        }
    }
}