.verify-email_container {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #f5f5f5;
    height: 100vh;
    width: 100vw;
    position: fixed;

    .verify-email {
        padding-top: 30px;

        .verify-email_success {
            color: #f13a1d;

            .success {
                text-transform: uppercase;
                padding: 2px;
                background-color: rgb(233, 233, 55);
            }

            .success-info {
                margin-top: 10px;
                color: #000 !important;
            }
        }

        .verify-email_error {
            color: red;
            text-transform: uppercase;
        }
    }
}