.manage-clinic_container {
    padding: 0 15px;

    .ms-title {
        text-align    : center;
        text-transform: uppercase;
        margin        : 30px 0;
        font-weight   : 700;
        line-height   : 1.5;
        font-size     : 1.25rem;
        font-family   : "Public Sans", sans-serif;
    }



    .add-new-clinic {
        background-color: rgb(255, 255, 255);
        color           : rgb(33, 43, 54);
        transition      : box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-image: none;
        overflow        : hidden;
        position        : relative;
        box-shadow      : rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
        border-radius   : 16px;
        z-index         : 0;
        padding         : 24px;

        .preview-img-container {
            width: 100%;

            .preview-image_clinic {
                width          : 100%;
                height         : 50px;
                border         : 1px solid #ddd;
                background     : center center no-repeat;
                background-size: contain;
            }
        }

        .error {
            color: red;
        }

        .btn-save_specialty {
            margin          : 15px 0;
            background-color: orange;
            border          : none;
            padding         : 6px 8px;
            min-width       : 100px;
            border-radius   : 5px;
            color           : #fff;

            &:hover {
                background-color: transparent;
                border          : 1px solid orange;
                color           : orange;
                transition      : ease-out 0.5s;
            }
        }
    }

    .all-clinic {}
}